
<ion-content class="ionContainer">
  <div class="principalDiv">
    <div class="divTitle">
      PeliApp
    </div>
    <div id="container">
      <ion-input type="text" placeholder="Ingresa tu usuario" [(ngModel)]="loginInfo.username"> </ion-input>
      <ion-input type="password" placeholder="Ingresa tu password" [(ngModel)]="loginInfo.password"> </ion-input>
      <ion-button class="loginButton" (click)="validar()"> Ingresar </ion-button><br>
      <a (click)="goRegister()">¿ Aún no tienes cuenta? Regístrate</a>
    </div>
  </div>
</ion-content>
